This script will allow the user to parse tabular data from various data types into a pandas dataframe. To do this the user must first set the 'file' variable with the file path or URL and also set the 'file_type' to the relevent file type being used. The user will also need to specify the file name, location, and file type they want for saving the dataframe. Once this is done the user can create a dataframe using the code block underneath. There is space for the user to write additional code for manipulating the dataframe to fit requirements. Finally, the user can save the dataframe.

In [1]:
# imports
import pandas as pd # data manipulation using dataframes
import requests # web fetching
from tabula import read_pdf # pdf

# Parse Data

file_type/save_type = html/csv/excel/pdf

In [2]:
# file path/URL
file = 'D:/Users/daniel.godden/Data/data/COF Accrurals spend.xlsx'
# set file type
file_type = 'excel'

# select table you wish to parse from html source
table_number = 0

# select sheet name for excel source
sheet_name = 'Data'

# specify the folder, file name, and file format for saving dataframe
folder_path = 'D:/Users/daniel.godden/Data/output/output'
file_name = 'COF_accrurals_spend'
save_type='csv'

In [3]:
if (file_type == 'html'):
    # fetch HTML content
    html = requests.get(file).content
    # extract table
    tables = pd.read_html(html)
    # select the table you want using indexing
    df = tables[table_number]
elif (file_type =='csv'):
    # extract table from csv file and display top 5 rows of dataframe
    df = pd.read_csv(file)
elif (file_type == 'excel'):
    # extract table from excel (xls,xlsx, ods...) file and display top 5 rows of dataframe
    df = pd.read_excel(file, sheet_name=sheet_name)  
elif (file_type == 'pdf'):
    # extract tables from PDF, concatenate them into a single dataframe, and display top 5 rows of dataframe
    dfs = read_pdf(file, pages='all', multiple_tables=True)
    df = pd.concat(dfs)
    df.reset_index(drop=True)   
else:
    print('unknown file type')

In [4]:
# display first 5 rows of dataframe
df.head(5)

,COF REF,Organisation Name,Project Name,Grant Manager,Round applied for,Asset type,Total grant amount,Asset LA,Asset Region,COF Claimed/spent,Amount to Accrue,Asset Country,Asset Post Code,Drawdown Status
0,NaN,Menter Tyn Llan Cyfyngedig,Achub Tyn Llan Save Tyn Llan,El,Round 1,Pub,250000.0,Gwynedd,(pseudo) Wales,NaN,NaN,Wales,LL54 5TN,Live
1,NaN,Callander Community Development Trust Ltd,Callander Visitor Information Centre,Karen,Round 1,Other,124843.0,Stirling,(pseudo) Scotland,NaN,NaN,Scotland,FK17 8BA,Live
2,NaN,Clayton West and District Community Hub Limited,Clayton Community Wellbeing Hub,El,Round 1,Community Centre,185088.0,Hyndburn,North West,185000.0,0.0,England,BB5 1LA,Complete
3,NaN,Whitley Bay Big Local CIO,Community Building for Whitley Bay,El,Round 1,Community Centre,300000.0,North Tyneside,North East,300000.0,0.0,England,NE26 2LY,Complete
4,NaN,Grow the Glens Community Interest Company GtG CIC,Glens Digital Hub,Karen,Round 1,Other,300000.0,Causeway Coast and Glens,(pseudo) Northern Ireland,NaN,NaN,Northern Ireland,CH3 8BH,Live

# Dataframe Manipulation

Use this space to modify dataframe to specification. Comment out any line you do not need.

In [6]:
# drop columns/rows
#df.drop('', axis=1, inplace=True)
#df = df.iloc[2:]
# combine two columns where rows in each contain required data and others are NaN
#df[''] = df[''].combine_first(df[''])
#rename columns and replace strings in rows
df = df.rename(columns={'Organisation Name':'recipient_name'})
df = df.rename(columns={'Total grant amount':'amount'})
df = df.rename(columns={'Asset Region':'geography_name'})
#df = df.rename(columns={'Town centre/ high street':'town'})
#df['amount'] = df['amount'].str.replace('£','')
#df['amount'] = df['amount'].str.replace(',','')
#df['amount'] = df['amount'].str.replace('m','').astype(float)
#df['amount'] = df['amount'] * 1000000
#df.reset_index(level=0, inplace=True)
#df.drop('index', axis=1, inplace=True)
df.head(5)

,COF REF,recipient_name,Project Name,Grant Manager,Round applied for,Asset type,amount,Asset LA,geography_name,COF Claimed/spent,Amount to Accrue,Asset Country,Asset Post Code,Drawdown Status
0,NaN,Menter Tyn Llan Cyfyngedig,Achub Tyn Llan Save Tyn Llan,El,Round 1,Pub,250000.0,Gwynedd,(pseudo) Wales,NaN,NaN,Wales,LL54 5TN,Live
1,NaN,Callander Community Development Trust Ltd,Callander Visitor Information Centre,Karen,Round 1,Other,124843.0,Stirling,(pseudo) Scotland,NaN,NaN,Scotland,FK17 8BA,Live
2,NaN,Clayton West and District Community Hub Limited,Clayton Community Wellbeing Hub,El,Round 1,Community Centre,185088.0,Hyndburn,North West,185000.0,0.0,England,BB5 1LA,Complete
3,NaN,Whitley Bay Big Local CIO,Community Building for Whitley Bay,El,Round 1,Community Centre,300000.0,North Tyneside,North East,300000.0,0.0,England,NE26 2LY,Complete
4,NaN,Grow the Glens Community Interest Company GtG CIC,Glens Digital Hub,Karen,Round 1,Other,300000.0,Causeway Coast and Glens,(pseudo) Northern Ireland,NaN,NaN,Northern Ireland,CH3 8BH,Live

Fill in table with values from parsed table.

In [7]:
# import contextual data template 
DF = pd.read_csv('D:/Users/daniel.godden/Data/Contextual_data_template.csv')

# merge df into DF
DF = pd.merge(DF,df, on=['amount','geography_name', 'recipient_name'], how='outer')
column_order = ['segment_name','subsegment_name', 'geography_name', 'geography_code','town', 'financial_year', 'amount', 'allocation_or_spend', 'Source', 'recipient_name' ]
DF = DF.reindex(columns=column_order)
DF.head(5)

,segment_name,subsegment_name,geography_name,geography_code,town,financial_year,amount,allocation_or_spend,Source,recipient_name
0,NaN,NaN,(pseudo) Wales,NaN,NaN,NaN,250000.0,NaN,NaN,Menter Tyn Llan Cyfyngedig
1,NaN,NaN,(pseudo) Scotland,NaN,NaN,NaN,124843.0,NaN,NaN,Callander Community Development Trust Ltd
2,NaN,NaN,North West,NaN,NaN,NaN,185088.0,NaN,NaN,Clayton West and District Community Hub Limited
3,NaN,NaN,North East,NaN,NaN,NaN,300000.0,NaN,NaN,Whitley Bay Big Local CIO
4,NaN,NaN,(pseudo) Northern Ireland,NaN,NaN,NaN,300000.0,NaN,NaN,Grow the Glens Community Interest Company GtG CIC

In [ ]:
# fill the columns that have repeat values
DF['segment_name'] = ''
DF['subsegment_name'] = ''
DF['Source'] = 'COF Accrurals spend.xlsx'
DF['financial_year'] = ''
DF['allocation_or_spend'] = 'spend'
DF.head(5)

save dataframe.

In [ ]:
if (save_type =='csv'):
    DF.to_csv(folder_path + '/' + file_name +'.csv', index=False)
elif (save_type =='pdf'):
    DF.to_pdf(folder_path + '/' + file_name +'.pdf', index=False) 
elif (save_type == 'excel'):
    DF.to_excel(folder_path + '/' + file_name + 'xlsx', index=False)  
elif (save_type =='html'):
    DF.to_html(folder_path + '/' + file_name +'.html', index=False) 
else: 
    print('file format not supported')